// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 916px;
$breakpoint-lg: 1058px;
$breakpoint-xl: 1303px;

// Cores
$bg-primary: #e0fbfc;
$bg-secondary: #3d5a80;
$bg-terciary: #3d5a80;
$bg-footer: #98c1d9;

$text-primary:#e0fbfc;
$text-secondary:#293241;

$heading-primary:#e0fbfc;
$heading-secondary:#e0fbfc;
$dot-clr: 	#ee6c4d;
$border-clr: #ee6c4d;

$bg-menu: #293241;
$text-menu: #e0fbfc;
$text-menu-hover: #ee6c4d;

$baloon-clr: #e0fbfc;
$circle-clr: #ee6c4d;
$border-circle: #98c1d9;

$btn-primary: #ee6c4d;
$btn-hover: #ee6c4d;
$btn-text: #293241;