.page-container {
    // extend flexCenter 
    display: flex;
    justify-content: center;

    margin-top: 4rem;
    width: 90vw; 
    
    @media screen and (max-width: $breakpoint-sm){
        margin-top: 0;
        width: 100vw;
    }
}