*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* breakpoints */

  --breakpoint-sm: 576px;
  --breakpoint-md: 916px;
  --breakpoint-lg: 1058px;
  --breakpoint-xl: 1303px;



  /* variaveis */

  /* *** TEMA 01 AZUL *** */
  /* --bg-primary: #E1E9F5;
  --bg-secondary: #18254F;
  --bg-terciary: #212F5F;
  --bg-footer: #C28113;

  --text-primary:#F8FFE5;
  --text-secondary:#101936;

  --heading-primary:#F8FFE5;
  --heading-secondary:#F8FFE5;
  --dot-clr: 	#C28113;
  --border-clr: #C28113;


  --bg-menu: #928DF7;
  --text-menu: #F8FFE5;

  --baloon-clr: #E1E9F5;
  --circle-clr: #C28113;
  --border-circle: #E1E9F5;

  --btn-primary: #C28113;
  --btn-hover: #D6A41F;
  --btn-text: #18254F; */

  /* *** FIM TEMA 01 AZUL *** */

  /* *** TEMA 02 AZUL *** */
  /* --bg-primary: #E8F1F7;
  --bg-secondary: #023047;
  --bg-terciary: #023047;
  --bg-footer: #FB8500;

  --text-primary:#E8F1F7;
  --text-secondary:#023047;

  --heading-primary:#FFB703;
  --heading-secondary:#FFB703;
  --dot-clr: 	#FB8500;
  --border-clr: #FB8500;


  --bg-menu: #023047;
  --text-menu: #FFB703;

  --baloon-clr: #8ECAE6;
  --circle-clr: #FB8500;
  --border-circle: #8ECAE6;

  --btn-primary: #FB8500;
  --btn-hover: #FFB703;
  --btn-text: #023047; */

  /* *** FIM TEMA 02 AZUL *** */

  /* *** TEMA 02 AZUL *** */
  --bg-primary: #e0fbfc;
  --bg-secondary: #3d5a80;
  --bg-terciary: #3d5a80;
  --bg-footer: #98c1d9;

  --text-primary:#e0fbfc;
  --text-secondary:#293241;

  --heading-primary:#e0fbfc;
  --heading-secondary:#e0fbfc;
  --dot-clr: 	#ee6c4d;
  --border-clr: #ee6c4d;


  --bg-menu: #293241;
  --text-menu: #e0fbfc;
  --text-menu-hover: #ee6c4d;

  --baloon-clr: #e0fbfc;
  --circle-clr: #ee6c4d;
  --border-circle: #98c1d9;

  --btn-primary: #ee6c4d;
  --btn-hover: #ee6c4d;
  --btn-text: #293241;

  /* *** FIM TEMA 02 AZUL *** */


}

/* @media(min-width: 1080px){ */
@media(min-width: 721px){
  html{
      /* 1rem = 10px */
      font-size:62.5%;
  }
}

@media(max-width: 720px){
  html{
    /* 1rem = 8px */
    font-size:50%;
    
    /* 1rem = 6px */
    /* font-size: 37.5%; */
  }
}

html, body{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

/* ul{
  list-style: none;
} */
