*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* ToDo Fazer Linear Gradiente entre as sections */

  /* variaveis */

  /* *** TEMA AZUL *** */
  --bg-primary: #E1E9F5;

  --bg-secondary: #18254F;
  --bg-terciary: #212F5F;
  /* --bg-terciary: #1D2B58; */
  /* --bg-terciary: #213766; */
  /* --bg-terciary: #174B5C; */

  /* --text-primary:#F8FFE5;
  --heading-primary:#F8FFE5;
  --heading-secondary:#F8FFE5;
  --dot-clr: 	#F8FFE5;

  --border-clr: #F8FFE5; */
  
  /* --text-primary:#F8FFE5;
  --heading-primary:#D6A41F;
  --heading-secondary:#D6A41F;
  --dot-clr: 	#D6A41F;

  --border-clr: #D6A41F; */

  --text-primary:#F8FFE5;
  --text-secondary:#101936;

  --heading-primary:#F8FFE5;
  --heading-secondary:#F8FFE5;
  --dot-clr: 	#C28113;

  --border-clr: #C28113;


  --bg-footer: #C28113;

  --bg-menu: #928DF7;
  --text-menu: #F8FFE5;

  --baloon-clr: #E1E9F5;
  --circle-clr: #C28113;
  --border-circle: #E1E9F5;

  --btn-primary: #C28113;
  --btn-hover: #D6A41F;
  --btn-text: #18254F;

  /* *** FIM TEMA AZUL *** */


  /* *** TEMA TESTE *** */

  /* --bg-primary: #E9F5D0; */

  /* --bg-secondary: #68BA61;
  --bg-terciary: #62D17A; */
  /* --bg-terciary: #66C47B; */

  /* --bg-footer: #928DF7;

  --bg-menu: #928DF7;
  --text-menu: #F8FFE5; */
  
  /* --text-primary: 	#E9F5D0;
  --heading-primary: 	#E9F5D0;
  --heading-secondary: 	#E9F5D0; */

  /* --dot-clr: 	#0e1111; */

  /* --baloon-clr: #928DF7;
  --circle-clr: #66C47B;
  --border-circle: #928DF7;

  --btn-primary: #928DF7; */

  /* *** FIM TEMA TESTE *** */

}

@media(min-width: 1080px){
  html{
      /* 1rem = 10px */
      font-size:62.5%;
  }
}

@media(max-width: 720px){
  html{
    /* 1rem = 8px */
    font-size:50%;
    
    /* 1rem = 6px */
    /* font-size: 37.5%; */
  }
}

html, body{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

/* ul{
  list-style: none;
} */
