*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  /* variaveis */
  --bg-primary: #F8FFE5;
  /* --text-primary: #F8FFE5; */

  --bg-secondary: #68BA61;
  --bg-terciary: #66C47B;

  --bg-footer: #928DF7;

  --bg-menu: #928DF7;
  --text-menu: #F8FFE5;
  
  
  --text-primary: 	#0e1111;
  --heading-primary: 	#0e1111;
  --heading-secondary: 	#0e1111;
  --dot-clr: 	#0e1111;

  --baloon-clr: #928DF7;
  --circle-clr: #66C47B;
  --border-circle: #928DF7;

  --btn-primary: #928DF7;

}

@media(min-width: 1080px){
  html{
      /* 1rem = 10px */
      font-size:62.5%;
  }
}

@media(max-width: 720px){
  html{
    /* 1rem = 8px */
    font-size:50%;
    
    /* 1rem = 6px */
    /* font-size: 37.5%; */
  }
}

html, body{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

/* ul{
  list-style: none;
} */
