/*
ToDo
- Colocar dot no titulo principal com largura maior
- Retirar Dot e centralizar titulo em screen menores
*/


body {
  display: flex;
  justify-content: center; /* centraliza o .page-container */
  /* align-items: center; */

  background-color: var(--bg-primary);
}

.page-container {
  /* margin: 4rem; */
  /* width: 112rem;  */

  /* background-color: var(--bg-primary); */

  margin-top: 4rem;
  width: 90vw;
  
  display: flex;
  justify-content: center;

  box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2), 
              0.4rem 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
}

.page-container nav {
  height: 27rem;
  /* min-height: 27rem; */
  
  /* BreakPoint 1303px */
  /* height: 30rem;  */
  /* BreakPoint 1058px */
  /* height: 32rem;  */



  /* min-width: 30rem; */
  width: 25%;


  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-right: 2%;
  background-color: var(--bg-menu);

  box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2), 
              0.4rem 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
}

.page-container nav li {
  list-style: none;
}

.page-container nav li {
  margin: 1.5rem auto;
  text-align: center;
  /* border: 0.5px solid red; */
}

.page-container nav a {
  font-size: 1.4rem;
  color: var(--text-menu);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.18rem;
  transition: all 0.1s;
}

/* .menu-active controlado por JQuery */
.menu-active {
  font-size: 1.5rem !important;
  /* text-decoration: underline; */
  color: var(--text-menu) !important;
  font-weight: 400 !important;
}

.page-container nav a:hover {
  font-size: 1.5rem;
  /* text-decoration: underline; */
  color: var(--text-menu);
  font-weight: 400;
}



.page-container main {
  width: 73%;
  /* min-width: 86rem; */
}

.page-container main h1 {
  background-image: linear-gradient(to right, var(--bg-secondary), var(--bg-terciary));
  font-size: 4.8rem;
  color: var(--heading-primary);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 700;
  padding: 4rem 0 4rem 4rem;
  border-bottom: 0.1rem solid var(--border-clr);
}

/* PERSONAL INFO */
.page-container #personal-info {
  background-image: linear-gradient(to right, var(--bg-terciary), var(--bg-secondary));
  
  display: flex;
  align-items: center;
  /* padding: 2rem 4rem 2rem 4rem; */
  padding: 4rem 4rem 4rem 4rem;
  border-bottom: 0.1rem solid var(--border-clr);

  color: var(--text-primary);
}

.page-container #personal-info img {
  border-radius: 50%;

  height: 25rem;
  width: 25rem;

  box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2), 
              0.4rem 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);

  /* width: 35%;
  height: auto;
  margin-right : auto;
  margin-left : auto;

  min-width : 20rem;
  max-width : 25rem;

  min-height: 20rem;
  max-height: 25rem; */

  /* width: 35%;
  height: auto;

  height: 25rem;
  width: 25rem; */
  /* padding: 2rem 0 2rem 4rem;  */
  /* sem querer deu um eveito legal na foto*/
}

.page-container #personal-info > div {
  margin-left: 15%;
}

.page-container #personal-info .person-name {
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding-bottom: 1.5rem;
}

.page-container #personal-info .person-role {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.05rem;
  padding-bottom: 1.5rem;
}

.page-container #personal-info .person-address,
.page-container #personal-info .person-city,
.page-container #personal-info .person-contact .person-email,
.page-container #personal-info .person-contact .person-phone {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  padding-bottom: .5rem;
}


.page-container #personal-info .person-contact .contact-buttons {
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;

}

.page-container #personal-info .person-contact .contact-buttons a {
  display: block;
  width: 12rem;
  text-align: center;
  background-color: var(--btn-primary);
  color: var(--btn-text);
  padding: 1.4rem;
  font-size: 2rem;
  border-radius: 5px;
  transition: all 0.3s;

  box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2), 
              0.4rem 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);

}

.page-container #personal-info .person-contact .contact-buttons a:hover {
  background-color: var(--btn-hover);
}

.page-container #personal-info .person-contact .contact-buttons a + a {
  margin-left: 2rem;
}

.page-container main .aboutme-container,
.page-container main .skills-container,
.page-container main .jobsexp-container,
.page-container main .graduationexp-container {
  padding: 4rem 4rem 6rem 4rem;
}

.page-container main h2 {
  font-size: 3.2rem;
  color: var(--heading-secondary);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25rem;
  padding-bottom: 4rem;
}

.page-container main h2::before {
  content: "";
  display: inline-block;
  background: var(--dot-clr);
  height: 2.2rem;
  width: 2.6rem;
  margin-right: 2rem;
}

/* SOBRE MIM */
.page-container main #about-me {
  /* background-color: var(--bg-secondary); */
  background-image: linear-gradient(to right, var(--bg-secondary), var(--bg-terciary));
  border-bottom: 0.1rem solid var(--border-clr);

  color: var(--text-primary);
}

.page-container main #about-me p {
  /* border: 1px solid red; */
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  /* padding: 1rem 4rem 1rem 4rem; */
}

/* .page-container main #about-me p + p {
  padding: 0 4rem 1rem 4rem;
} */

/* HABILIDADES */

.page-container main #skills {
  /* background-color: var(--bg-terciary); */
  background-image: linear-gradient(to right, var(--bg-terciary), var(--bg-secondary));
  border-bottom: 0.1rem solid var(--border-clr);

  color: var(--text-primary);
}

.page-container main #skills .skills-grid {
  /* padding: 1rem 4rem 1rem 4rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.page-container main #skills .skills-grid h3 {
  font-style: normal;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
}

/* .page-container main #skills .skills-grid ul {
  padding: 1rem 0 1rem 1rem;
} */

.page-container main #skills .skills-grid ul li {
  margin-left: 2rem;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  padding-right: 2rem;
}

/* EXPERIENCIA PROFISSIONAL e ACADÊMICA*/

.page-container main #jobs-exp {
  /* background-color: var(--bg-secondary); */
  background-image: linear-gradient(to right, var(--bg-secondary), var(--bg-terciary));
  border-bottom: 0.1rem solid var(--border-clr);

  color: var(--text-secondary);
}

.page-container main #graduation-exp {
  /* background-color: var(--bg-terciary); */
  background-image: linear-gradient(to right, var(--bg-terciary), var(--bg-secondary));
  border-bottom: 0.1rem solid var(--border-clr);

  color: var(--text-secondary);
}

.page-container main #jobs-exp .timeline,
.page-container main #graduation-exp .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.page-container main #jobs-exp .timeline::after,
.page-container main #graduation-exp .timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--baloon-clr);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.page-container main #jobs-exp .container,
.page-container main #graduation-exp .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  /* background-color: #f0f0f5; */
  width: 50%;
}

.page-container main #jobs-exp .container::after,
.page-container main #graduation-exp .container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var(--circle-clr);
  border: 4px solid var(--border-circle);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.page-container main #jobs-exp .left,
.page-container main #graduation-exp .left {
  left: 0;
  text-align: right;
}

.page-container main #jobs-exp .right,
.page-container main #graduation-exp .right {
  left: 50%;
  text-align: left;
}

.page-container main #jobs-exp .left::before,
.page-container main #graduation-exp .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--baloon-clr);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--baloon-clr);
}

.page-container main #jobs-exp .right::before,
.page-container main #graduation-exp .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--baloon-clr);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--baloon-clr) transparent transparent;
}

.page-container main #jobs-exp .right::after,
.page-container main #graduation-exp .right::after {
  left: -16px;
}

.page-container main #jobs-exp .content,
.page-container main #graduation-exp .content {
  padding: 20px 30px;
  background-color: var(--baloon-clr);
  position: relative;
  border-radius: 6px;
}

.page-container main #jobs-exp .content h3,
.page-container main #graduation-exp .content h3 {
  font-style: normal;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  padding-bottom: 2rem;
}

.page-container main #jobs-exp .content h4,
.page-container main #graduation-exp .content h4 {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding-bottom: 2rem;
}

.page-container main #jobs-exp .content p,
.page-container main #graduation-exp .content p {
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.page-container main footer {
  background-color: var(--bg-footer);
  /* background-image: linear-gradient(to right, var(--bg-secondary), var(--bg-terciary)); */
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  height: 4rem;
  padding-left: 4rem;

  color: var(--text-secondary);
  /* margin-top: 4rem; */
}


/**** *** Media Queries *** ****/

/* @media screen and (max-width: var(--breakpoint-xl)){ */
@media screen and (max-width: 1303px){
  .page-container nav {
    height: 30rem;
  }
}

/* @media screen and (max-width: var(--breakpoint-lg)){ */
@media screen and (max-width: 1058px){
  .page-container main h1 {
    text-align: center;
  }

  .page-container nav {
    height: 32rem;
  }

  .page-container #personal-info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .page-container #personal-info img {
    margin-bottom: 3rem;
  }

  .page-container #personal-info > div {  
    margin: 0 auto;
    text-align: center;
  }

  .page-container #personal-info .person-contact .contact-buttons {
    display: flex;
    justify-content: center;
  }

  .page-container main #skills .skills-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .page-container main #skills .skills-grid section + section {
    margin-top: 4rem;
  }

  .page-container main #jobs-exp .timeline::after,
  .page-container main #graduation-exp .timeline::after {
    left: 31px;
  }

  .page-container main #jobs-exp .container,
  .page-container main #graduation-exp .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .page-container main #jobs-exp .container::before,
  .page-container main #graduation-exp .container::before {
    left: 60px;
    border: medium solid var(--baloon-clr);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--baloon-clr) transparent transparent;
  }

  .page-container main #jobs-exp .left::after,
  .page-container main #jobs-exp .right::after,
  .page-container main #graduation-exp .left::after,
  .page-container main #graduation-exp .right::after {
    left: 15px;
  }

  .page-container main #jobs-exp .left,
  .page-container main #graduation-exp .left,
  .page-container main #jobs-exp .right,
  .page-container main #graduation-exp .right {
    left: 0%;
    text-align: left;
  }
}

/* @media screen and (max-width: var(--breakpoint-md)){ */
@media screen and (max-width: 916px){
  /* .page-container main #skills .skills-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .page-container main #skills .skills-grid section + section {
    margin-top: 4rem;
  }

  .page-container main #jobs-exp .timeline::after,
  .page-container main #graduation-exp .timeline::after {
    left: 31px;
  }

  .page-container main #jobs-exp .container,
  .page-container main #graduation-exp .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .page-container main #jobs-exp .container::before,
  .page-container main #graduation-exp .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .page-container main #jobs-exp .left::after,
  .page-container main #jobs-exp .right::after,
  .page-container main #graduation-exp .left::after,
  .page-container main #graduation-exp .right::after {
    left: 15px;
  }

  .page-container main #jobs-exp .left,
  .page-container main #graduation-exp .left,
  .page-container main #jobs-exp .right,
  .page-container main #graduation-exp .right {
    left: 0%;
    text-align: left;
  } */
}

/* @media screen and (max-width: var(--breakpoint-sm)){ */
@media screen and (max-width: 576px){

  .page-container{
    margin-top: 0;
    width: 100vw;
  }
  .page-container nav {
    display: none;
  }

  .page-container main {
    width: 100%;
  }

  .page-container main h1 {
    font-size: 3.8rem;
    text-align: center;
    padding: 4rem 0;
  }
}